@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;500&display=swap");
@font-face {
  font-family: Voyage;
  src: url(../fonts/Voyage-Regular.woff2) format("woff2"), url(../fonts/Voyage-Regular.woff) format("woff"), url(../fonts/Voyage-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #bebebe;
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
}

.scroll-container {
  padding-top: 70px;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #bebebe;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  font-size: 21vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  opacity: 1;
}

.preloader #indicator {
  width: 100%;
  height: 0;
  background-color: #7c7979;
  position: absolute;
  left: 0;
  bottom: 0;
}

.preloader #percentage {
  mix-blend-mode: difference;
}

#noise {
  -webkit-animation: grain 6s steps(10) infinite;
          animation: grain 6s steps(10) infinite;
  background-image: url("../images/noise-full.png");
  background-repeat: repeat;
  height: 300%;
  left: -50%;
  opacity: 0.05;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: -1;
  pointer-events: none;
}

@-webkit-keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}

@keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}

.landing-header {
  width: 100%;
  height: 20px;
}

.landing-header .container {
  max-width: 1260px;
}

.landing-header .container .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}

.landing-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.landing-header a.nav-link,
.landing-header a.header-logo {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #616161;
}

.landing-header a.nav-link img {
  width: 15px;
  height: 15px;
}

.landing-header .header-logo {
  margin: 0 351px 0 0;
  color: #424242 !important;
}

.header-utilities {
  margin-left: 65px;
}

.header-utilities .utilities-nav .nav-item {
  margin: 2px 20px 0 0;
}

.header-utilities .utilities-nav .nav-item:last-child {
  margin-right: 0;
}

.header-utilities .utilities-nav .nav-item:first-child {
  margin-top: 0;
}

.header-navbar {
  margin-left: auto;
}

.header-navbar .navbar-nav .nav-item {
  margin: 0 20px 0 0;
}

.header-navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.landing-intro {
  margin-top: 124px;
}

.landing-intro .container {
  max-width: 1260px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 51px 96px 46px 305px 24px 251px 487px;
      grid-template-columns: 51px 96px 46px 305px 24px 251px 487px;
  -ms-grid-rows: 25px 195px 105px 578px 185px 81px 34px;
      grid-template-rows: 25px 195px 105px 578px 185px 81px 34px;
}

.landing-intro .intro-title,
.landing-intro .intro-sub-title,
.landing-intro .intro-description {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.landing-intro .intro-image-holder {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6/9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  position: relative;
  overflow: hidden;
}

.landing-intro .intro-title {
  font-family: Voyage;
  font-size: 163px;
  z-index: 4;
  color: #ffffff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  overflow: hidden;
}

.landing-intro .intro-sub-title {
  font-family: Voyage;
  font-size: 43px;
  color: #444444;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  z-index: 3;
  mix-blend-mode: color-dodge;
}

.landing-intro .intro-image {
  z-index: 2;
  width: 100%;
  max-height: 1088px;
}

.landing-intro .intro-description {
  z-index: -1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 34px;
  font-weight: 200;
  color: #333333;
}

.landing-intro .divider {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  -ms-grid-row: 8;
  grid-row: 8/8;
  height: 1px;
  background-color: #a1a1a1;
}

.landing-intro .intro-description-copy {
  z-index: 3;
  position: absolute;
  left: -329px;
  bottom: -79px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 34px;
  font-weight: 200;
  color: white;
  margin-right: 486px;
}

.landing-intro .canvas-source {
  display: none;
}

.landing-intro #intro-canvas {
  width: 100%;
  height: 100%;
  display: block;
  height: 0;
}

.landing-intro .rgb-holder {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.landing-intro .rgb-holder .cover {
  width: 100%;
  height: 100%;
  background: black;
}

.landing-intro .split-child {
  overflow: hidden;
}

.landing-work {
  margin-top: 270px;
}

.landing-work .container {
  max-width: 1260px;
}

.landing-work .work-images {
  margin-top: 50px;
}

.landing-work .work-images .work-holder {
  max-width: 655px;
  margin-bottom: 100px;
  position: relative;
}

.landing-work .work-images .work-holder img {
  width: 100%;
  height: 100%;
}

.landing-work .work-images .work-holder:nth-child(even) {
  margin-left: auto;
  margin-right: 100px;
}

.landing-work .work-images .work-holder:nth-child(odd) {
  margin-left: 100px;
}

.landing-work .work-images .work-holder:last-child {
  margin-bottom: 0;
}

.landing-work .work-title .my-works,
.landing-work .work-title .my-personalities {
  font-family: Voyage;
  font-size: 84px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  overflow: hidden;
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-work .work-title .my-works {
  margin-right: 317px;
  margin-left: auto;
}

.landing-work .work-title .my-personalities {
  margin-left: auto;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.landing-work .work-title .my-personalities .line {
  width: 113px;
  margin-right: 30px;
}

.landing-work .work-title .my-personalities .line .split-child {
  position: relative;
  bottom: -63px;
  width: 113px;
  height: 1px;
  background-color: #ffffff;
}

.landing-contact {
  margin-top: 200px;
}

.landing-contact .container {
  max-width: 1260px;
}

.landing-contact .contact-description {
  width: 633px;
  font-size: 44px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #333333;
}

.contact-holder {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-holder .contact-call {
  width: 392px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-holder .contact-call a {
  position: relative;
  padding: 0 0 3px 10px;
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.97;
}

.contact-holder .contact-call a .first-line {
  display: block;
  margin-bottom: 9px;
}

.contact-holder .contact-call a::before {
  content: "";
  z-index: -1;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 193px;
  height: 22px;
  opacity: 0.38;
  background-color: #ff5252;
}

.contact-holder .contact-call .arrow-right {
  width: 35px;
  height: 35px;
  vertical-align: bottom;
  margin-left: 74px;
}

.landing-footer {
  width: 100%;
  border-top: 1px solid #a1a1a1;
  margin-top: 100px;
  padding-top: 34px;
}

.landing-footer a {
  text-decoration: none;
}

.landing-footer .container {
  max-width: 1260px;
}

.landing-footer .container .row:nth-child(2) {
  margin-top: 55px;
}

.landing-footer .footer-address,
.landing-footer .footer-phone,
.landing-footer .footer-utilities {
  margin-bottom: 55px;
}

.landing-footer .footer-contact {
  list-style-type: none;
}

.landing-footer .footer-contact dt {
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}

.landing-footer .footer-contact dd {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 200;
  color: #333333;
}

.landing-footer .footer-address {
  width: 301px;
  font-size: 26px;
  font-weight: 500;
  color: #333333;
  font-style: normal;
  margin-right: 153px;
}

.footer-utilities .utilities-title {
  font-size: 26px;
  font-weight: 500;
  color: #333333;
}

.footer-utilities .social-icons {
  margin-top: 5px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-utilities .social-icons .facebook,
.footer-utilities .social-icons .instagram {
  width: 25px;
  height: 25px;
}

.footer-utilities .social-icons .facebook img,
.footer-utilities .social-icons .instagram img {
  width: 100%;
  height: 100%;
}

.footer-utilities .social-icons .facebook {
  margin-right: 25px;
}

.footer-phone {
  margin-right: 128px;
}

.footer-phone .phone-info dd,
.footer-phone .phone-info dt {
  font-size: 26px;
  font-weight: 500;
  color: #333333;
}

.footer-phone .phone-info dd a {
  color: #333333;
}

.footer-copyright {
  width: 100%;
  border-top: 1px solid #a1a1a1;
}

.footer-copyright .container {
  max-width: 1260px;
}

.footer-copyright .copyright-logo {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #616161;
  margin: 18px 0;
}

.footer-copyright .justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-copyright .copyright-navbar {
  margin: 18px 0;
}

.footer-copyright .copyright-navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-copyright .copyright-navbar .navbar-nav .nav-item {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin-right: 30px;
}

.footer-copyright .copyright-navbar .navbar-nav .nav-item a {
  color: #616161;
}

.footer-copyright .copyright-navbar .navbar-nav .nav-item:last-child {
  margin-right: 0;
}

.footer-copyright .copyright-text {
  margin: 18px 0;
  font-size: 14px;
  font-weight: 500;
  color: #616161;
}
/*# sourceMappingURL=styles.css.map */