@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #bebebe;
  font-family: $ipsMedium;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 1s;
  opacity: 0;
}

.scroll-container {
  padding-top: 70px;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #bebebe;
  transition: all 0.4s;
  font-size: 21vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 1;
  #indicator {
    width: 100%;
    height: 0;
    background-color: #7c7979;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  #percentage {
    mix-blend-mode: difference;
  }
}

#noise {
  animation: grain 6s steps(10) infinite;
  background-image: url("../images/noise-full.png");
  background-repeat: repeat;
  height: 300%;
  left: -50%;
  opacity: 0.05;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: -1;
  pointer-events: none;
}

@keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }
  20% {
    -webkit-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }
  30% {
    -webkit-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }
  40% {
    -webkit-transform: translate(-5%, 25%);
    transform: translate(-5%, 25%);
  }
  50% {
    -webkit-transform: translate(-15%, 10%);
    transform: translate(-15%, 10%);
  }
  60% {
    -webkit-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }
  70% {
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }
  80% {
    -webkit-transform: translate(3%, 35%);
    transform: translate(3%, 35%);
  }
  90% {
    -webkit-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}
